@media (max-width:1200px) {}

@media (max-width:1024px) {}

@media (max-width:991px) {

    /*============ Header ============*/
    .header-scrolled {
        height: auto;
    }

    .header_wrapper .navbar-brand img {
        height: 40px;
    }

    .header_wrapper .menu-navbar-nav {
        text-align: left;
        background-color: transparent;
        padding-bottom: 15px;
    }

    .header_wrapper .nav-item .nav-link {
        margin-top: 15px;
        width: 100%;
    }


    .header_wrapper .nav-item .nav-link::after {
        margin-left: 0px;
    }

    .header_wrapper .navbar-collapse {
        position: fixed;
        top: 0;
        right: -100%;
        /* Initially hide the menu off the screen */
        width: 70%;
        /* Adjust width as needed */
        height: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        z-index: 9999;
        /* Ensure it's on top of other content */
        padding: 40px 20px 20px;
        /* Adjust padding as needed */
        transition: right 0.3s ease;
        /* Add smooth transition effect */
        text-align: left;
    }

    .header_wrapper .navbar-collapse.show {
        right: 0;
        /* Show the menu by moving it to the right */
    }

    .close-navbar-btn {
        outline: none;
        box-shadow: none;
        border: none;
        background-color: transparent;
        margin-left: 10px;
    }

    .close-navbar-btn>i.fa-times {
        color: var(--primary);
        font-size: 30px;
        font-weight: 800;
    }

    .header_wrapper .navbar .contactUs_btn {
        font-size: 12px;
        border: 1px solid var(--primary);
    }
}

@media (max-width:880px) {
    p{
        font-size: 14px;
    }

    /*======== Top Header ======*/
    .top_header {
        margin: 0;
        padding: 10px 10px 5px 10px;
        background: rgb(236, 76, 44);
        background: linear-gradient(0deg, rgba(236, 76, 44, 1) 50%, rgba(70, 70, 70, 1) 50%);
    }

    .top_header,
    .top_header a {
        font-size: 12px;
    }

    .top_header .top-nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width:768px) {

    /*====== Hero Banner =======*/
    .carousel .list .item .content {
        left: 45%;
    }
    
    .thumbnail {
        left: 55%;
    }
    .thumbnail .item {
        width: 150px;
        height: 190px;
    }
}

@media (max-width:600px) {

    /*======== Top Header ======*/
    .top_header {
        display: none;
    }
    
    /*====== Hero Banner =======*/
    .carousel .list .item .title{
        font-size: 30px;
    }
    .carousel .list .item .topic {
        font-size: 3.5em;
        margin-bottom: 10px;
    }
}

@media (max-width:468px) {

    /*====== Hero Banner =======*/
    .carousel .list .item .content {
        left: 45%;
    }

    .thumbnail .item {
        width: 120px;
        height: 150px;
    }

    .carousel .list .item .title,
    .carousel .list .item .topic {
        font-size: 4em;
    }

    .carousel .list .item .content .title {
        font-size: 30px;
    }

    .carousel .list .item .content .des {
        font-size: 14px;
    }
}

@media (max-width:375px) {

    /*============ Hero Banner ============*/
    .thumbnail .item .content {
        left: 5px;
        font-size: 14px;
    }

    .thumbnail {
        left: 40%;
    }

    .carousel .list .item .title,
    .carousel .list .item .topic {
        font-size: 3em;
        margin-bottom: 10px;
    }

    .carousel .list .item .content .des {
        font-size: 13px;
    }

    .arrows {
        right: 65%;
    }
}